.UserForm-Container{
    display: flex;
    width: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    background-color: antiquewhite;
    background-color: #f1f3f5;
    box-shadow: 2px 2px 2px rgb(141, 141, 141, 0.555);
    margin-bottom: 40px;
    gap: 4px;
}

.UserForm-Container label{
    font-size: 19px;
    font-weight: bolder;
    color: #212529;
}

.input{
    padding: 6px;
    font-size: 16px;
}

.Btn-Add{
    border: #fff5f5;
    border-radius: 25px ;
    font-size: 22px;
    padding: 20px;
    margin-top: 12px;
    background-color: #fa5252;
    color: #fff5f5;
}

.Btn-Add:hover{
    cursor: pointer;
    background-color: #ff8787;
}